{{ define "header_meta" }}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{{ range .Meta }}
<meta name="{{ .Name }} content= {{ .Value }}">
{{ end }}
{{ end }}